# Binaries / build output
/bin/
*.dll
*.so
*.dylib
bin/

# Build artefacts
/dist/
/build/
/pkg/
*.out
*.test
*.coverprofile
*.log

# Dependency managers / vendoring
/vendor/
Gopkg.lock
Gopkg.toml


# IDE / editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary / cache
*.tmp
*.cache
npm-debug.log
yarn-error.log
